

.background{
	-fx-background-color: #484e4f;
}



.myDialog{
    -fx-background-color: #484e4f;
}
.myDialog > *.button-bar > *.container{
	-fx-font-size: 14px;
    -fx-background-color: #484e4f;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #484e4f;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 30 px;
    -fx-font-style: italic;
    -fx-text-fill: #484e4f;
}
